.flows_USROMMBRADSH21.local.json.backup
[{"id":"cccf3548.437d7","type":"tab","label":"Device Registration","disabled":false,"info":""},{"id":"3a6c29ba.752296","type":"tab","label":"SensorTag","disabled":false,"info":""},{"id":"cc3cc621.9c677","type":"tab","label":"Motor Simulation","disabled":false,"info":""},{"id":"28c4319.5d2e54e","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a4a6c838.d2725","type":"ui_tab","z":0,"name":"Motor Simulation","icon":"dashboard"},{"id":"a57f5430.4368c8","type":"ui_group","z":"","name":"Motor Simulation","tab":"a4a6c838.d2725","disp":true,"width":"18","collapse":false},{"id":"8ae1c496.dc6ae8","type":"ui_group","z":"","name":"Motor Sensor History","tab":"a4a6c838.d2725","disp":true,"width":"18","collapse":false},{"id":"b321f0f5.9328b8","type":"ui_group","z":"","name":"Motor Buttons","tab":"a4a6c838.d2725","disp":false,"width":"18","collapse":false},{"id":"5a60eb19.3eca8c","type":"ui_tab","z":"","name":"Live Sensor Data","icon":"dashboard","order":3},{"id":"955906fc.9aa488","type":"ui_group","z":"","name":"Environment","tab":"5a60eb19.3eca8c","order":1,"disp":true,"width":"20","collapse":false},{"id":"a67dde1d.0293d8","type":"ui_group","z":"","name":"Accelerometer","tab":"5a60eb19.3eca8c","order":2,"disp":true,"width":"20","collapse":false},{"id":"ba591690.783cc","type":"ui_group","z":"","name":"Gyroscope","tab":"5a60eb19.3eca8c","disp":true,"width":"20","collapse":false},{"id":"2dfe378.18017c8","type":"ui_group","z":"","name":"Magnetometer","tab":"5a60eb19.3eca8c","disp":true,"width":"20","collapse":false},{"id":"be3b8983.ce5ea8","type":"ui_tab","z":"","name":"DataLake","icon":"dashboard"},{"id":"35d66e22.eeb76a","type":"ui_group","z":"","name":"","tab":"be3b8983.ce5ea8","disp":true,"width":"18","collapse":false},{"id":"3b4d61fe.e02976","type":"tls-config","z":"","name":"demoSimpleDevice","cert":"demo/certs/simple/certificate.pem.crt","key":"demo/certs/simple/private.pem.key","ca":"demo/certs/simple/CARoot.pem","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"4e82f95.aa61208","type":"mqtt-broker","z":"","name":"InforIOT-AX1-Motor","broker":"a2ecptzdfux5lm.iot.us-east-1.amazonaws.com","port":"8883","tls":"bed3f6b2.2151c","clientid":"iot-integ02__INTEGRATION_AX1__thing_demoMotorSimulationDevice","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"bed3f6b2.2151c","type":"tls-config","z":"","name":"MotorCerts","cert":"demo/certs/motor_sim/certificate.pem.crt","key":"demo/certs/motor_sim/private.pem.key","ca":"demo/certs/motor_sim/CARoot.pem","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"98c56e53.25c59","type":"mqtt-broker","z":"","name":"InforIOT-AX1-simpleDemo","broker":"a2ecptzdfux5lm.iot.us-east-1.amazonaws.com","port":"8883","tls":"3b4d61fe.e02976","clientid":"iot-integ02__INTEGRATION_AX1__thing_demoSimpleDevice","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3ae2eed5.866d22","type":"tls-config","z":"","name":"demoSensorTagCerts","cert":"demo/certs/sensorTag/certificate.pem.crt","key":"demo/certs/sensorTag/private.pem.key","ca":"demo/certs/sensorTag/CARoot.pem","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"c41cee3d.1d99d","type":"mqtt-broker","z":"","name":"InforIOT-AX1-SensorTag","broker":"a2ecptzdfux5lm.iot.us-east-1.amazonaws.com","port":"8883","tls":"3ae2eed5.866d22","clientid":"iot-integ02__INTEGRATION_AX1__thing_demoSensorTagEnvDevice","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ddc3055a.0c44a8","type":"inject","z":"cc3cc621.9c677","name":"current","topic":"","payload":"{\"name\":\"current\",\"normal\":12,\"normalRange\":3,\"userValue\":12}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":980,"y":100,"wires":[["d32b35df.afa4a8"]]},{"id":"ee29e2e9.f53e38","type":"inject","z":"cc3cc621.9c677","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["14ba1c57.2e27dc"]]},{"id":"8acea8b4.4ad9c8","type":"inject","z":"cc3cc621.9c677","name":"temperature","topic":"","payload":"{\"name\":\"temperature\",\"normal\":100,\"normalRange\":10,\"userValue\":100}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":990,"y":220,"wires":[["d32b35df.afa4a8"]]},{"id":"d7133c17.1712d8","type":"mqtt out","z":"cc3cc621.9c677","name":"InforIOT-AX1","topic":"$aws/things/iot-integ02__INTEGRATION_AX1__thing_demoMotorSimulationDevice/shadow/update","qos":"","retain":"","broker":"4e82f95.aa61208","x":650,"y":100,"wires":[]},{"id":"1a4a1d6a.b320cb","type":"ui_gauge","z":"cc3cc621.9c677","name":"Current","group":"a57f5430.4368c8","order":0,"width":"6","height":"4","gtype":"gage","title":"Current","label":"Amp","format":"{{value | number:1}}","min":0,"max":"25","colors":["#E6E600","#00B500","#E6E600"],"seg1":"9","seg2":"15","x":640,"y":360,"wires":[]},{"id":"7b1650eb.0628c8","type":"ui_gauge","z":"cc3cc621.9c677","name":"Voltage","group":"a57f5430.4368c8","order":0,"width":"6","height":"4","gtype":"gage","title":"Voltage","label":"V","format":"{{value | number:0}}","min":0,"max":"1000","colors":["#E6E600","#00B500","#E6E600"],"seg1":"400","seg2":"520","x":640,"y":480,"wires":[]},{"id":"474e385c.858818","type":"ui_gauge","z":"cc3cc621.9c677","name":"Temperature","group":"a57f5430.4368c8","order":0,"width":"6","height":"4","gtype":"gage","title":"Temperature","label":"C","format":"{{value | number:1}}","min":0,"max":"300","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":650,"y":600,"wires":[]},{"id":"df920141.825e58","type":"ui_chart","z":"cc3cc621.9c677","name":"Current","group":"8ae1c496.dc6ae8","order":0,"width":"6","height":"4","label":"","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"Waiting on sensor data...","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":640,"y":420,"wires":[[],[]]},{"id":"c9ac1158.8ee0d8","type":"ui_chart","z":"cc3cc621.9c677","name":"Voltage","group":"8ae1c496.dc6ae8","order":0,"width":"6","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting on sensor data...","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":640,"y":540,"wires":[[],[]]},{"id":"54bac104.9bdcf8","type":"ui_chart","z":"cc3cc621.9c677","name":"Temperature","group":"8ae1c496.dc6ae8","order":0,"width":"6","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting on sensor data...","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":650,"y":660,"wires":[[],[]]},{"id":"cdc5bac5.c2b01","type":"ui_slider","z":"cc3cc621.9c677","name":"CurrentSlider","label":"Current","group":"b321f0f5.9328b8","order":0,"width":"6","height":"1","passthru":true,"topic":"current","min":0,"max":"25","step":1,"x":970,"y":360,"wires":[["b9779c3a.1163b8"]],"inputLabels":["global.get(\"assetSensors\").get('current').userVal"]},{"id":"b9779c3a.1163b8","type":"function","z":"cc3cc621.9c677","name":"ConsumeSliders","func":"var sensorName = msg.topic;\nvar sensors = global.get(\"assetSensors\");\nvar sensor = sensors.get(sensorName);\n\nvar userValue = msg.payload;\nsensor.userValue = userValue;\nglobal.set(\"assetSensors\", sensors);\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":360,"wires":[[]]},{"id":"4328f119.8a0c48","type":"inject","z":"cc3cc621.9c677","name":"voltage","topic":"","payload":"{\"name\":\"voltage\",\"normal\":460,\"normalRange\":50,\"userValue\":460}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":980,"y":160,"wires":[["d32b35df.afa4a8"]]},{"id":"8353bfb3.6eb67","type":"ui_slider","z":"cc3cc621.9c677","name":"VoltageSlider","label":"Voltage","group":"b321f0f5.9328b8","order":0,"width":"6","height":"1","passthru":true,"topic":"voltage","min":0,"max":"1000","step":1,"x":970,"y":420,"wires":[["b9779c3a.1163b8"]],"inputLabels":["global.get(\"assetSensors\").get('voltage').userVal"]},{"id":"d2fd4288.10ab3","type":"ui_slider","z":"cc3cc621.9c677","name":"TemperatureSlider","label":"Temperature","group":"b321f0f5.9328b8","order":0,"width":"6","height":"1","passthru":true,"topic":"temperature","min":0,"max":"300","step":1,"x":990,"y":480,"wires":[["b9779c3a.1163b8"]],"inputLabels":["global.get(\"assetSensors\").get('temperature').userVal"]},{"id":"14ba1c57.2e27dc","type":"function","z":"cc3cc621.9c677","name":"AssembleIOTMessage","func":"measurement_time = msg.payload\n\nmsg.payload = {\n  \"state\": \n  { \n    \"reported\":\n    {\n        \"current\": 0,\n        \"voltage\": 0,\n        \"temperature\": 0,\n        \"measurement_time\": measurement_time\n    },\n    \"desired\": {} \n  }\n};\n\nvar sensors = global.get(\"assetSensors\");\nmsg.payload.state.reported.measurement_time = measurement_time\nfor (var [name, sensor] of sensors) {\n    switch(sensor.name) {\n        case 'current':\n            msg.payload.state.reported.current = sensor.lastReported;\n            break;\n        case 'voltage':\n            msg.payload.state.reported.voltage = sensor.lastReported;\n            break;\n        case 'temperature':\n            msg.payload.state.reported.temperature = sensor.lastReported;\n            break;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["d7133c17.1712d8"]]},{"id":"7809b6aa.0abdf","type":"comment","z":"cc3cc621.9c677","name":"Register Sensors","info":"","x":980,"y":40,"wires":[]},{"id":"158ac7cd.7cda4","type":"debug","z":"3a6c29ba.752296","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":872,"y":605,"wires":[]},{"id":"3a3bccd4.9ec434","type":"comment","z":"3a6c29ba.752296","name":"SensorTag","info":"","x":180,"y":80,"wires":[]},{"id":"d1a5f77d.707f48","type":"ui_gauge","z":"3a6c29ba.752296","name":"Temperature","group":"955906fc.9aa488","order":0,"width":"5","height":"4","gtype":"gage","title":"Temperature","label":"째C","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":732,"y":27,"wires":[]},{"id":"a59390a7.455cd","type":"ui_gauge","z":"3a6c29ba.752296","name":"Humidity","group":"955906fc.9aa488","order":0,"width":"5","height":"4","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":742,"y":66,"wires":[]},{"id":"83200590.315f9","type":"function","z":"3a6c29ba.752296","name":"parseSensorTagReadings","func":"//node.warn(msg);\nfunction objectify(sensorValue) {\n    obj = { \"payload\": sensorValue };\n    return obj;\n}\n\nsensor = flow.get(\"tagSensor\")|| {}\nswitch(msg.topic) {\n    case \"sensorTag/humidity\":\n        sensor['temperature'] = msg.payload.temperature\n        sensor['humidity'] = msg.payload.humidity\n        flow.set(\"tagSensor\", sensor)\n        return [ objectify(msg.payload.temperature), objectify(msg.payload.humidity), null, null, null, null, null, null, null, null, null, null, null, null ]\n    case \"sensorTag/pressure\":\n        sensor['pressure'] = msg.payload.pressure\n        flow.set(\"tagSensor\", sensor)\n        return [ null, null, objectify(msg.payload.pressure), null, null, null, null, null, null, null, null, null, null, null ]\n    case \"sensorTag/luxometer\":\n        sensor['lux'] = msg.payload.lux\n        flow.set(\"tagSensor\", sensor)\n        return [ null, null, null, objectify(msg.payload.lux), null, null, null, null, null, null, null, null, null, null ]\n    case \"sensorTag/accelerometer\":\n        sensor['accelerometer_x'] = msg.payload.x\n        sensor['accelerometer_y'] = msg.payload.y\n        sensor['accelerometer_z'] = msg.payload.z\n        flow.set(\"tagSensor\", sensor)\n        return [ null, null, null, null, objectify(msg.payload.x), objectify(msg.payload.y), objectify(msg.payload.z), null, null, null, null, null, null, null ]\n    case \"sensorTag/gyroscope\":\n        sensor['gyroscope_x'] = msg.payload.x\n        sensor['gyroscope_y'] = msg.payload.y\n        sensor['gyroscope_z'] = msg.payload.z\n        flow.set(\"tagSensor\", sensor)\n        return [ null, null, null, null, null, null, null, objectify(msg.payload.x), objectify(msg.payload.y), objectify(msg.payload.z), null, null, null, null ]\n    case \"sensorTag/magnetometer\":\n        sensor['magnetometer_x'] = msg.payload.x\n        sensor['magnetometer_y'] = msg.payload.y\n        sensor['magnetometer_z'] = msg.payload.z\n        flow.set(\"tagSensor\", sensor)\n        return [ null, null, null, null, null, null, null, null, null, null, objectify(msg.payload.x), objectify(msg.payload.y), objectify(msg.payload.z), null ]\n    default:\n        [ null, null, null, null, null, null, null, null, null, null, null, null, null, msg ]\n        \n}\n","outputs":14,"noerr":0,"x":450,"y":300,"wires":[["d1a5f77d.707f48"],["a59390a7.455cd"],["77576f1c.6e4608"],["1b8bc43c.969abc"],["e3e2c161.04c968"],["2fc91230.573a66"],["a72013ed.559638"],["d67fe625.0b35a8"],["92d64a35.9bdf68"],["e8c80f68.c10718"],["632fb5aa.af28bc"],["f78520cf.39ff6"],["12f05a1.fc7afa6"],["158ac7cd.7cda4"]]},{"id":"77576f1c.6e4608","type":"ui_gauge","z":"3a6c29ba.752296","name":"Pressure","group":"955906fc.9aa488","order":0,"width":"5","height":"4","gtype":"gage","title":"Pressure","label":"mbar","format":"{{value}}","min":"850","max":"1100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":761,"y":106,"wires":[]},{"id":"e3e2c161.04c968","type":"ui_gauge","z":"3a6c29ba.752296","name":"ACC_X","group":"a67dde1d.0293d8","order":0,"width":"5","height":"4","gtype":"gage","title":"X","label":"g","format":"{{value}}","min":"-10","max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":1032,"y":151,"wires":[]},{"id":"2fc91230.573a66","type":"ui_gauge","z":"3a6c29ba.752296","name":"ACC_Y","group":"a67dde1d.0293d8","order":0,"width":"5","height":"4","gtype":"gage","title":"Y","label":"g","format":"{{value}}","min":"-10","max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":1050,"y":193,"wires":[]},{"id":"a72013ed.559638","type":"ui_gauge","z":"3a6c29ba.752296","name":"ACC_Z","group":"a67dde1d.0293d8","order":0,"width":"5","height":"4","gtype":"gage","title":"Z","label":"g","format":"{{value}}","min":"-10","max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":1069,"y":230,"wires":[]},{"id":"d67fe625.0b35a8","type":"ui_gauge","z":"3a6c29ba.752296","name":"GYRO_X","group":"ba591690.783cc","order":0,"width":"5","height":"4","gtype":"gage","title":"X","label":"째","format":"{{value}}","min":"-360","max":"360","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":915,"y":292,"wires":[]},{"id":"92d64a35.9bdf68","type":"ui_gauge","z":"3a6c29ba.752296","name":"GYRO_Y","group":"ba591690.783cc","order":0,"width":"5","height":"4","gtype":"gage","title":"Y","label":"째","format":"{{value}}","min":"-360","max":"360","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":926,"y":330,"wires":[]},{"id":"e8c80f68.c10718","type":"ui_gauge","z":"3a6c29ba.752296","name":"GYRO_Z","group":"ba591690.783cc","order":0,"width":"5","height":"4","gtype":"gage","title":"Z","label":"째","format":"{{value}}","min":"-360","max":"360","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":951,"y":368,"wires":[]},{"id":"632fb5aa.af28bc","type":"ui_gauge","z":"3a6c29ba.752296","name":"MAG_X","group":"2dfe378.18017c8","order":0,"width":"5","height":"4","gtype":"gage","title":"X","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":803,"y":417,"wires":[]},{"id":"f78520cf.39ff6","type":"ui_gauge","z":"3a6c29ba.752296","name":"MAG_Y","group":"2dfe378.18017c8","order":0,"width":"5","height":"4","gtype":"gage","title":"Y","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":816,"y":457,"wires":[]},{"id":"12f05a1.fc7afa6","type":"ui_gauge","z":"3a6c29ba.752296","name":"MAG_Z","group":"2dfe378.18017c8","order":0,"width":"5","height":"4","gtype":"gage","title":"Z","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":831,"y":497,"wires":[]},{"id":"72e38cec.44a0ec","type":"sensorTag","z":"3a6c29ba.752296","name":"","topic":"sensorTag","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":true,"x":165.5,"y":302,"wires":[["83200590.315f9"]]},{"id":"d32b35df.afa4a8","type":"function","z":"cc3cc621.9c677","name":"registerSensor","func":"sensors = global.get(\"assetSensors\")|| new Map();\nsensors.set(msg.payload.name, msg.payload);\nglobal.set(\"assetSensors\", sensors);\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":100,"wires":[[]]},{"id":"f197181a.634aa","type":"mqtt out","z":"cccf3548.437d7","name":"InforIOT-AX1","topic":"$aws/things/iot-integ02__INTEGRATION_AX1__thing_demoSimpleDevice/shadow/update","qos":"","retain":"","broker":"98c56e53.25c59","x":750,"y":180,"wires":[]},{"id":"c2c8a008.f664c","type":"template","z":"cccf3548.437d7","name":"Create Shadow Update JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"state\": \n  { \n    \"reported\":\n    {\n        \"temperature\": 20,\n        \"pressure\": 1025,\n        \"measurement_time\": {{payload}}\n    }, \n    \"desired\":\n    {\n    } \n  }\n}","x":450,"y":180,"wires":[["f197181a.634aa","23c17382.271e44"]]},{"id":"e1aad154.8207d","type":"inject","z":"cccf3548.437d7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":180,"wires":[["c2c8a008.f664c"]]},{"id":"23c17382.271e44","type":"debug","z":"cccf3548.437d7","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"b952717f.3a24d8","type":"debug","z":"cc3cc621.9c677","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":160,"wires":[]},{"id":"866268b9.8e973","type":"function","z":"3a6c29ba.752296","name":"PublishIOTMessage","func":"measurement_time = msg.payload\n//node.warn(\"measurement_time: \" + measurement_time);\n\nmsg.payload = {\n  \"state\": \n  { \n    \"reported\":\n    {\n        \"temperature\": 0,\n        \"humidity\": 0,\n        \"pressure\": 0,\n        \"lux\": 0,\n        \"measurement_time\": measurement_time\n    },\n    \"desired\": {} \n  }\n};\n\nvar sensor = flow.get(\"tagSensor\");\nmsg.payload.state.reported.measurement_time = measurement_time\nmsg.payload.state.reported.temperature = sensor['temperature'];\nmsg.payload.state.reported.humidity = sensor['humidity'];\nmsg.payload.state.reported.pressure = sensor['pressure'];\nmsg.payload.state.reported.lux = sensor['lux'];\n\nreturn msg;","outputs":1,"noerr":0,"x":551.5,"y":642,"wires":[["158ac7cd.7cda4","f14acf30.7deb08"]]},{"id":"1b8bc43c.969abc","type":"ui_gauge","z":"3a6c29ba.752296","name":"Lux","group":"955906fc.9aa488","order":0,"width":"5","height":"4","gtype":"gage","title":"Lux","label":"lux","format":"{{value}}","min":"0","max":"100000","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":778,"y":145,"wires":[]},{"id":"750a9018.dae28","type":"inject","z":"3a6c29ba.752296","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":311.5,"y":642,"wires":[["866268b9.8e973"]]},{"id":"f14acf30.7deb08","type":"mqtt out","z":"3a6c29ba.752296","name":"InforIOT-AX1-SensorTag","topic":"$aws/things/iot-integ02__INTEGRATION_AX1__thing_demoSensorTagEnvDevice/shadow/update","qos":"","retain":"","broker":"c41cee3d.1d99d","x":918.5,"y":674,"wires":[]},{"id":"7296f784.c745","type":"function","z":"cc3cc621.9c677","name":"GenerateData","func":"measurement_time = msg.payload\ndeviceName = msg.topic\n\nfunction generateReading(sensor) {\n    return getRandomRange(sensor.userValue - sensor.normalRange, sensor.userValue + sensor.normalRange);\n}\n\nfunction getRandomRange(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\nvar sensors = global.get(\"assetSensors\");\nsensor = sensors.get(deviceName)\nsensor.lastReported = generateReading(sensor)\nmsg.payload = sensor.lastReported\nglobal.set(\"assetSensors\", sensors);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["1a4a1d6a.b320cb","df920141.825e58"]]},{"id":"b816f381.b0e76","type":"inject","z":"cc3cc621.9c677","name":"current","topic":"current","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["7296f784.c745"]]},{"id":"aea548af.de045","type":"inject","z":"cc3cc621.9c677","name":"voltage","topic":"voltage","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":480,"wires":[["6c2bf0a9.e3645"]]},{"id":"b1bbd56.e81d5a8","type":"inject","z":"cc3cc621.9c677","name":"temperature","topic":"temperature","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["f64e35ae.632118"]]},{"id":"6c2bf0a9.e3645","type":"function","z":"cc3cc621.9c677","name":"GenerateData","func":"measurement_time = msg.payload\ndeviceName = msg.topic\n\nfunction generateReading(sensor) {\n    return getRandomRange(sensor.userValue - sensor.normalRange, sensor.userValue + sensor.normalRange);\n}\n\nfunction getRandomRange(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\nvar sensors = global.get(\"assetSensors\");\nsensor = sensors.get(deviceName)\nsensor.lastReported = generateReading(sensor)\nmsg.payload = sensor.lastReported\nglobal.set(\"assetSensors\", sensors);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["7b1650eb.0628c8","c9ac1158.8ee0d8"]]},{"id":"f64e35ae.632118","type":"function","z":"cc3cc621.9c677","name":"GenerateData","func":"measurement_time = msg.payload\ndeviceName = msg.topic\n\nfunction generateReading(sensor) {\n    return getRandomRange(sensor.userValue - sensor.normalRange, sensor.userValue + sensor.normalRange);\n}\n\nfunction getRandomRange(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\nvar sensors = global.get(\"assetSensors\");\nsensor = sensors.get(deviceName)\nsensor.lastReported = generateReading(sensor)\nmsg.payload = sensor.lastReported\nglobal.set(\"assetSensors\", sensors);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":600,"wires":[["474e385c.858818","54bac104.9bdcf8"]]},{"id":"d941f27f.863f4","type":"comment","z":"cc3cc621.9c677","name":"IOT Message Transmission","info":"","x":150,"y":40,"wires":[]},{"id":"66c7e34c.847d24","type":"comment","z":"cc3cc621.9c677","name":"Data Generation","info":"","x":120,"y":300,"wires":[]},{"id":"453bc180.033658","type":"comment","z":"cc3cc621.9c677","name":"Register Sensors","info":"","x":980,"y":300,"wires":[]}]